name: Test & Validate

on:
  push:
    branches-ignore: [ main ]
env:
  GITHUB_TOKEN: ${{ github.token }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  LINT_VERSION: "1.25.1"


jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        check-latest: true
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    # - name: "Get dependencies"
    #   id: dependencies
    #   run: |
    #       go get -v -t -d ./...
    #       if [ -f Gopkg.toml ]; then
    #           curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
    #           dep ensure
    #       fi

    - name: Generate AWS region file
      run: |
        aws ec2 describe-regions --all-regions --region us-east-1 --query "Regions[].RegionName" --output text >> cmd/aws-regions.txt

    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:  
        args: -v

    
    - name: Execute Go tests
      run: go test -v ./...

    - name: Test CLI
      run: |
        go test -coverprofile=go.txt -v ./...
        go run main.go clean -r us-west-2
        go run main.go version
  
    - name: build & execute
      run: |
        echo "--------------------------------------------------"
        go build -ldflags="-X 'github.com/karl-cardenas-coding/go-lambda-cleanup/cmd.VersionString=0.0.0'" -o=glc -v
        ./glc clean -r us-west-2

    - uses: actions/upload-artifact@v1
      with:
        name: test-results
        path: go.txt